html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
#map {
  padding: 0;
  border: solid 2px #666;
  margin: 0 5px 5px 5px;
}
#header, #header2{
  border: solid 2px #666;
  color: #666;
  font-family: sans-serif;
  font-size: 1.1em;
  height: auto;
  margin: 5px;
  overflow: hidden;
  padding: 10px 0 10px 20px;
  text-align:left;
}
.roundedCorners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}